body{
  margin-top: 0;
  min-height:100%;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.wine-avatar img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.wine-avatar {
  padding: 15px 15px 0 15px;
}

.wine-result-individual{
  padding: 10px;
}

.wine-result-individual img{
  margin: 0 auto;
  text-align: center;
}

#topContainer{
  margin-top: 100px;
  text-align:center;
  color: #d7d1d1;
}
