body{
  margin-top: 0;
  min-height:100%;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.wine-avatar img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.wine-avatar {
  padding: 15px 15px 0 15px;
}

.wine-result-individual{
  padding: 10px;
}

.wine-result-individual img{
  margin: 0 auto;
  text-align: center;
}
.modal-fullscreen {
  /*background: transparent;*/
}
.modal-fullscreen .modal-content {
  /*background: transparent;*/
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 100%;
  min-width: 100%;
  max-height: 100%;
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }
}
#topContainer{
  margin-top: 100px;
  text-align:center;
  color: #d7d1d1;
}
